{% extends "base.html" %}

{% block content %}



 

   
<div class="container"> 
   
    
        <div class="container-fluid">
          
           
              
              <div class="">
                <div class="iq-card" >
                  
                    
                    
                   
            
                    {% if result %}
                        <div class="mt-4">
                            <h2>Filterization:</h2>
                            <p id="response-text" class="lead">{{ result|linebreaksbr }}</p>
                        </div>
                    {% endif %}
            
                   
                </div>
            </div>
            
        </div>
   
    
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var responseTextElement = document.getElementById('response-text');
            if (responseTextElement) {
                // Split the response text by '**' and join with '<br>' to put each part on a new line
                responseTextElement.innerHTML = responseTextElement.innerHTML.split('*').join('');
                
                // Identify links within the text and wrap them in anchor tags
                responseTextElement.innerHTML = responseTextElement.innerHTML.replace(/(https?:\/\/[^\s]+)/g, function(match) {
                    return '<a href="' + match + '" target="_blank">' + match + '</a>';
                });
            }
        });
    </script>
    
</div>
{% endblock content %}
